.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.shop__item_big {
  padding: 0 0 100% 0;
}